<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="styles.css">
</head>
<body>
<div>
  <form method="POST" action="/ascii-art">  

      <label>Asciify your code:</label>
      <br><br>
      <textarea name="input" rows="3" cols="50" placeholder="Enter your asciifiable code!"></textarea>
      <select name="fonts">
        <option value="standard.txt">Standard</option>
        <option value="tinkertoy.txt">Tinkertoy</option>
        <option value="shadow.txt">Shadow</option>
      </select> 
      <br><br>
      <input type="submit" value="submit" />
  </form>
</div>
</body>
</html>